.env
build/
allure-report/
tests/unit/ТаблицаПроверки.txt
ConfigDumpInfo.xml
dumplist.txt
build
out
.scannerwork
/src/epf/Обработки_Управления_доступом_пользователей/bin/УстановщикКупорос.epf
/src/epf/Обработки_Управления_доступом_пользователей/bin/ОбменСКупорос.epf
